*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,header,hgroup,nav,section,article,aside,footer,figure,figcaption,menu,button {
    margin: 0;
    padding: 0
}

body {
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    line-height: 1.5;
    font-size: .16rem;
    color: #000;
    background-color: #f8f9fa;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    outline: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th {
    text-align: left
}

fieldset,img {
    border: 0
}

li {
    list-style: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0
}

button {
    -webkit-appearance: none;
    border: 0;
    background: none
}

a {
    -webkit-touch-callout: none;
    text-decoration: none
}

:focus {
    outline: 0
}

em,i {
    font-style: normal
}

input[type="date"] {
    text-align: right
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0
}

@media screen and (max-width: 319px) {
    html {
        font-size:90px
    }
}

@media screen and (min-width: 320px) and (max-width:359px) {
    html {
        font-size:90px
    }
}

@media screen and (min-width: 360px) and (max-width:374px) {
    html {
        font-size:96px
    }
}

@media screen and (min-width: 375px) and (max-width:383px) {
    html {
        font-size:100px
    }
}

@media screen and (min-width: 384px) and (max-width:399px) {
    html {
        font-size:102.4px
    }
}

@media screen and (min-width: 400px) and (max-width:413px) {
    html {
        font-size:106.66667px
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size:110.4px
    }
}

@-webkit-keyframes aroundFlutter {
    0% {
        -webkit-transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(10px)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

@-webkit-keyframes leftEnter {
    0% {
        -webkit-transform: translateX(-300%)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

@-webkit-keyframes rightEnter {
    0% {
        -webkit-transform: translateX(300%)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

@-webkit-keyframes upDownFlutter {
    0% {
        -webkit-transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(10px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes leftOut {
    0% {
        -webkit-transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(-300%)
    }
}

@-webkit-keyframes upOut {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-300%)
    }
}

@-webkit-keyframes rightOut {
    0% {
        -webkit-transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(300%)
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes opacity-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes bottomEnter {
    0% {
        -webkit-transform: translateY(300%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes topEnter {
    0% {
        -webkit-transform: translateY(-300%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes bounceInDown {
    0% {
        -webkit-transform: translateY(-1800px)
    }

    60% {
        -webkit-transform: translateY(20px)
    }

    80% {
        -webkit-transform: translateY(-10px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

a {
    color: #333
}

em {
    color: #ff8444
}

::-webkit-input-placeholder {
    color: #bbb
}

h1 {
    font-size: .18rem
}

h2 {
    font-size: .17rem
}

h3,h4 {
    font-size: .16rem
}

h5,.ui-txt-sub {
    font-size: .14rem
}

h6,.ui-txt-tips {
    font-size: .12rem
}

.ui-txt-default {
    color: #000
}

.ui-txt-white {
    color: #fff
}

.ui-txt-info {
    color: #777
}

.ui-txt-muted {
    color: #bbb
}

.ui-txt-warning,.ui-txt-red {
    color: #ff4222
}

.ui-txt-feeds {
    color: #314c83
}

.ui-txt-highlight {
    color: #ff8444
}

.ui-nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ui-nowrap-flex {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    -webkit-box-flex: 1;
    height: inherit
}

.ui-nowrap-multi {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.ui-table {
    width: 100%;
    border-collapse: collapse
}

.ui-table th {
    font-weight: 500
}

.ui-table td,.ui-table th {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: center
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-table td,.ui-table th {
        position:relative;
        border-right: 0;
        border-bottom: 0
    }

    .ui-table td:after,.ui-table th:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(.5, transparent), color-stop(.5, #e0e0e0), to(#e0e0e0)),-webkit-gradient(linear, left top, left bottom, color-stop(.5, transparent), color-stop(.5, #e0e0e0), to(#e0e0e0));
        -webkit-background-size: 1px 100%,100% 1px;
        background-size: 1px 100%,100% 1px;
        background-repeat: no-repeat;
        background-position: right,bottom;
        pointer-events: none
    }

    .ui-table tr td:last-child:after,.ui-table tr th:last-child:after {
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.5, transparent), color-stop(.5, #e0e0e0), to(#e0e0e0));
        -webkit-background-size: 100% 1px;
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: bottom
    }

    .ui-table tr:last-child td:not(:last-child):after {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(.5, transparent), color-stop(.5, #e0e0e0), to(#e0e0e0));
        -webkit-background-size: 1px 100%;
        background-size: 1px 100%;
        background-repeat: no-repeat;
        background-position: right
    }
}

.ui-table tr td:last-child,.ui-table tr th:last-child {
    border-right: 0
}

.ui-table tr:last-child td {
    border-bottom: 0
}

.ui-border-t {
    border-top: 1px solid #d4d4d4
}

.ui-border-b {
    border-bottom: 1px solid #d4d4d4
}

.ui-border-tb {
    border-top: #d4d4d4 1px solid;
    border-bottom: #d4d4d4 1px solid;
    background-image: none
}

.ui-border-l {
    border-left: 1px solid #d4d4d4
}

.ui-border-r {
    border-right: 1px solid #d4d4d4
}

.ui-border {
    border: 1px solid #d4d4d4
}

.ui-border-radius {
    border: 1px solid #d4d4d4;
    border-radius: 4px
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-border-radius {
        position:relative;
        border: 0
    }

    .ui-border-radius:before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #d4d4d4;
        -webkit-transform: scale(.5);
        -webkit-transform-origin: 0 0;
        padding: 1px;
        -webkit-box-sizing: border-box;
        border-radius: 8px;
        pointer-events: none
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-border {
        position:relative;
        border: 0
    }

    .ui-border-t,.ui-border-b,.ui-border-l,.ui-border-r,.ui-border-tb {
        border: 0
    }

    .ui-border-t {
        background-position: left top;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4))
    }

    .ui-border-b {
        background-position: left bottom;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4))
    }

    .ui-border-t,.ui-border-b,.ui-border-tb {
        background-repeat: repeat-x;
        -webkit-background-size: 100% 1px
    }

    .ui-border-tb {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4)),-webkit-gradient(linear, left top, left bottom, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4));
        background-position: top,bottom
    }

    .ui-border-l {
        background-position: left top;
        background-image: -webkit-gradient(linear, right top, left top, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4))
    }

    .ui-border-r {
        background-position: right top;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4))
    }

    .ui-border-l,.ui-border-r {
        background-repeat: repeat-y;
        -webkit-background-size: 1px 100%
    }

    .ui-border:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4)),-webkit-gradient(linear, left top, right top, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4)),-webkit-gradient(linear, left top, left bottom, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4)),-webkit-gradient(linear, right top, left top, color-stop(.5, transparent), color-stop(.5, #d4d4d4), to(#d4d4d4));
        -webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
        background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
        background-repeat: no-repeat;
        background-position: top,right,bottom,left;
        padding: 1px;
        -webkit-box-sizing: border-box;
        z-index: 10;
        pointer-events: none
    }
}

.ui-btn,.ui-btn-lg,.ui-btn-s {
    height: .3rem;
    line-height: .3rem;
    padding: 0 .11rem;
    min-width: .55rem;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: .15rem;
    background-color: #fdfdfd;
    vertical-align: top;
    color: #00a5e0;
    -webkit-box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cacccd;
    border-radius: .03rem
}

.ui-btn.active,.active.ui-btn-lg,.active.ui-btn-s {
    background: #f2f2f2;
    color: rgba(0,165,224,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ui-btn-primary {
    background-color: #18b4ed;
    border-color: #0baae4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.5, #1fbaf3), to(#18b4ed));
    color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ui-btn-primary:not(.disabled):not(:disabled):active,.ui-btn-primary.active {
    background: #1ca7da;
    border-color: #1ca7da;
    color: rgba(255,255,255,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ui-btn-danger {
    background-color: #f75549;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.5, #fc6156), to(#f75549));
    color: #fff;
    border-color: #f43d30;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ui-btn-danger:not(.disabled):not(:disabled):active,.ui-btn-danger.active {
    background: #e2574d;
    border-color: #e2574d;
    color: rgba(255,255,255,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ui-btn.disabled,.disabled.ui-btn-lg,.disabled.ui-btn-s,.ui-btn:disabled,.ui-btn-lg:disabled,.ui-btn-s:disabled {
    border: 0;
    color: #ccc;
    background: #e9ebec;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ui-btn-lg {
    font-size: .18rem;
    height: .44rem;
    line-height: .44rem;
    display: block;
    width: 100%;
    border-radius: .05rem
}

.ui-btn-wrap {
    padding: .15rem .1rem
}

.ui-btn-s {
    padding: 0;
    width: .55rem;
    height: .25rem;
    line-height: .25rem;
    font-size: .13rem
}

.ui-btn-primary {
    border: 1px solid #0baae4
}

.ui-btn-danger {
    border: 1px solid #f43d30
}

.ui-btn,.ui-btn-lg,.ui-btn-s {
    border: 0
}

.ui-btn.disabled,.disabled.ui-btn-lg,.disabled.ui-btn-s,.ui-btn:disabled,.ui-btn-lg:disabled,.ui-btn-s:disabled {
    border: 1px solid #e9ebec
}

.ui-btn-group {
    display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center
}

.ui-btn-group button {
    display: block;
    -webkit-box-flex: 1;
    color: #0091ff;
    line-height: .5rem;
    height: .48rem;
    text-align: center;
    font-size: .15rem;
    border-right: 1px #c8c7cc solid;
    width: 100%;
    border-top: 1px solid #c8c7cc
}

.ui-btn-group button:last-child {
    border-right: 0
}

.ui-btn-group button,.ui-btn-group-tiled button {
    display: block;
    -webkit-box-flex: 1
}

.ui-input-wrap {
    background-color: #ebeced;
    height: .44rem;
    display: -webkit-box;
    -webkit-box-align: center
}

.ui-input-wrap .ui-btn,.ui-input-wrap i {
    margin-right: .1rem
}

.ui-input {
    height: .3rem;
    line-height: .3rem;
    margin: .07rem .1rem;
    background: #fff;
    padding-left: .1rem;
    -webkit-box-flex: 1
}

.ui-input input {
    width: 100%;
    height: 100%;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0
}

.ui-tab {
    margin-bottom: .1rem;
    overflow: hidden;
    position: relative;
    width: 100%
}

.ui-tab-nav {
    width: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: box;
    font-size: .16rem;
    height: .35rem
}

.ui-tab-nav li {
    font-size: .14rem;
    height: .35rem;
    line-height: .35rem;
    min-width: .7rem;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: center;
    color: #818181;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    width: 100%
}

.ui-tab-nav li.active {
    color: #197ae5;
    border-bottom: 2px #197ae5 solid
}

.ui-tab-content {
    display: -webkit-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ui-tab-content>li {
    -webkit-box-flex: 1;
    padding-bottom: 1px;
    width: 100%
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next,.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical>.swiper-pagination {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate(0, -50%);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal>.swiper-pagination {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: -o-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0))
}

.swiper-container-coverflow .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px)
}

.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
    z-index: 0
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,0.1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes menuin {
    0% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-moz-keyframes menuin {
    0% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-o-keyframes menuin {
    0% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes menuin {
    0% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes menuin {
    0% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes menuout {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }
}

@-moz-keyframes menuout {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }
}

@-o-keyframes menuout {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }
}

@-ms-keyframes menuout {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }
}

@keyframes menuout {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -ms-transform: scale(3);
        -o-transform: scale(3);
        transform: scale(3);
        opacity: 0
    }
}

.global-header .aside-menu {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 60px;
    height: 20px;
    margin-top: -10px
}

.global-header .aside-menu a {
    width: 22px;
    height: 20px;
    display: inline-block;
    background-image: url(https://s2.51offer.com/51offer/h5/global/2015-09-11/icon.png);
    background-repeat: no-repeat;
    background-size: 170px auto
}

.global-header .aside-menu a.personal-center {
    background-position: -20px -127px
}

.global-header .aside-menu a.personal-home {
    background-position: 0 -127px
}

.global-header .aside-menu a.icon-menu {
    position: relative;
    float: right;
    background-position: -67px -127px;
    z-index: 1000
}

.global-header .aside-menu a.icon-home {
    position: relative;
    float: right;
    background-position: -42.5px -127px;
    z-index: 1000
}

.global-header .aside-menu a.icon-home.icon-menu-active {
    background-position: -67px -127px
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #fff
}

.menu i.closed {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 165px 0 0 -12px;
    background-size: 170px auto;
    background-repeat: no-repeat;
    background-image: url(https://s2.51offer.com/51offer/h5/global/2015-09-11/icon.png);
    background-position: -127px -127px;
    z-index: 50
}

.menu ul.menu-cont {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -160px
}

.menu ul.menu-cont li {
    width: 25%;
    text-align: center;
    padding: 18px 0;
    float: left
}

.menu ul.menu-cont li a {
    display: block
}

.menu ul.menu-cont li a i {
    width: 42px;
    height: 42px;
    display: inline-block;
    background-image: url(https://s2.51offer.com/51offer/h5/global/2015-09-11/icon.png);
    background-repeat: no-repeat;
    background-size: 170px auto
}

.menu ul.menu-cont li a span {
    display: block;
    font-size: 14px;
    color: #333
}

.menu ul.menu-cont li:nth-child(1) i {
    background-position: 0 0
}

.menu ul.menu-cont li:nth-child(2) i {
    background-position: -42px 0
}

.menu ul.menu-cont li:nth-child(3) i {
    background-position: -84px 0
}

.menu ul.menu-cont li:nth-child(4) i {
    background: url("https://s2.51offer.com/common/menu/img/2016-07-15/pass.png") no-repeat;
    background-size: 42px 42px
}

.menu ul.menu-cont li:nth-child(5) i {
    background-position: -126px 0
}

.menu ul.menu-cont li:nth-child(6) i {
    background-position: 0 -42px
}

.menu ul.menu-cont li:nth-child(7) i {
    background-position: -42px -42px
}

.menu ul.menu-cont li:nth-child(8) i {
    background-position: -84px -42px
}

.menu ul.menu-cont li:nth-child(9) i {
    background-position: -126px -42px
}

.menu ul.menu-cont li:nth-child(10) i {
    background-position: 0 -84px
}

.menu ul.menu-cont li:nth-child(11) i {
    background-position: -42px -84px
}

.menu ul.menu-cont li:nth-child(12) i {
    background-position: -84px -84px
}

.menu ul.menu-cont li:nth-child(13) i {
    background-position: -126px -84px
}

.menu.menuin {
    display: block;
    animation: menuin 300ms forwards;
    transform-origin: 50% 50%;
    -webkit-animation: menuin 300ms forwards;
    -webkit-transform-origin: 50% 50%
}

.menu.menuout {
    display: block;
    animation: menuout 300ms ease forwards;
    transform-origin: 50% 50%;
    -webkit-animation: menuout 300ms ease forwards;
    -webkit-transform-origin: 50% 50%
}

.ui-offcanvas {
    background: rgba(0,0,0,0.5);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1090
}

.ui-offcanvas-page {
    position: fixed;
    -webkit-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out
}

.ui-offcanvas-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1091;
    width: 270px;
    max-width: 100%;
    background: #333;
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.ui-offcanvas-bar:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background: #262626
}

.ui-offcanvas-bar-flip {
    left: auto;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.ui-offcanvas-bar-flip:after {
    right: auto;
    left: 0
}

.ui-offcanvas-content {
    padding: 15px;
    color: #999
}

.ui-offcanvas-content a {
    color: #ccc
}

.ui-offcanvas.ui-offcanvas-show {
    display: block
}

.ui-offcanvas.ui-offcanvas-show .ui-offcanvas-bar.ui-offcanvas-bar-active {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.ui-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 1001
}

.ui-dialog.show {
    display: -webkit-box;
    display: box
}

.ui-dialog .ui-dialog-cnt {
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    pointer-events: auto;
    background-color: rgba(253,253,253,0.95);
    position: relative;
    max-width: 700px;
    width: 80%
}

.ui-dialog .ui-dialog-hd {
    position: relative;
    font-size: 0;
    line-height: 0
}

.ui-dialog .ui-dialog-hd .title {
    color: #2594ff;
    font-size: .16rem;
    height: .45rem;
    line-height: .45rem;
    padding: 0 .1rem
}

.ui-dialog .ui-dialog-hd .icon-close {
    position: absolute;
    right: 0;
    top: 0;
    width: .45rem;
    height: .45rem
}

.ui-dialog .ui-dialog-hd .icon-close:after {
    background-image: url(https://s2.51offer.com/51offer/public/h5/dialog/2015-09-15/icon-close.png);
    -webkit-background-size: .12rem .12rem;
    background-size: .12rem .12rem;
    height: .12rem;
    width: .12rem;
    position: relative;
    top: .16rem;
    left: .16rem
}

.ui-dialog .ui-dialog-bd {
    min-height: .71rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: .18rem;
    font-size: .16rem;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical
}

.ui-dialog .ui-dialog-bd h4 {
    margin-bottom: 4px;
    font-size: .16rem;
    width: 100%;
    text-align: center
}

.ui-dialog .ui-dialog-ft {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.ui-dialog .ui-dialog-ft.ui-btn-group {
    display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center
}

.ui-dialog .ui-dialog-ft button {
    background: transparent;
    border-top: 1px solid #c8c7cc;
    display: block;
    -webkit-box-flex: 1;
    color: #0091ff;
    font-size: .15rem;
    height: .42rem;
    line-height: .42rem;
    text-align: center;
    width: 100%
}

.ui-dialog .ui-dialog-ft button:active {
    background: rgba(0,0,0,0.1)
}

.ui-dialog .ui-dialog-ft button:first-child {
    border-bottom-left-radius: 6px;
    background-image: none
}

.ui-dialog .ui-dialog-ft button:last-child {
    border-bottom-right-radius: 6px;
    border-right: 0
}

.ui-dialog-notice {
    background: transparent
}

.ui-dialog-notice .ui-dialog-cnt {
    width: 1.3rem;
    height: 1.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    background: rgba(0,0,0,0.65);
    border-radius: 6px;
    color: #fff
}

.ui-dialog-actions {
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-box-align: end;
    background-color: rgba(0,0,0,0);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.ui-dialog-actions .ui-dialog-cnt {
    border-radius: 0;
    bottom: 0;
    max-width: 750px;
    width: 100%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}

.ui-dialog-actions.show-visible {
    background-color: rgba(0,0,0,0.5);
    width: 100%
}

.ui-dialog-actions.show-visible .ui-dialog-cnt {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ui-dialog-actions .ui-dialog-bd {
    padding: 0
}

.ui-dialog-actions .ui-select-list {
    width: 100%
}

.ui-dialog-actions .ui-select-list a {
    background-color: transparent;
    border-bottom: 1px solid #d4d4d4;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    text-align: center
}

body,input,button,textarea,select,h1,h2,h3,h4,h5,h6 {
    font-family: "Helvetica Neue",Helvetica,Tahoma,STHeiTi,Simhei,sans-serif
}

body {
    background-color: #edeef0
}

img {
    vertical-align: middle
}

.icon {
    display: inline-block;
    height: 1px;
    font-size: 0;
    position: relative;
    vertical-align: middle
}

.icon:after {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    content: '';
    display: block;
    position: absolute
}

.viewport {
    min-width: 300px;
    max-width: 750px;
    margin: 0 auto;
    width: 100%
}

.global-header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #d4d4d4;
    height: .5rem;
    padding: .15rem;
    position: relative
}

.global-header .back {
    color: #197ae5;
    font-size: .15rem;
    height: .4rem;
    line-height: .4rem;
    left: .15rem;
    margin-top: -0.2rem;
    position: absolute;
    top: 50%
}

.global-header .back .icon-back {
    width: .2rem
}

.global-header .back .icon-back:after {
    background-image: url(https://s2.51offer.com/51offer/mobile/apartment/global/2015-07-06/icon-back.png);
    height: .2rem;
    left: 0;
    top: -0.11rem;
    width: .13rem
}

.global-header h1 {
    color: #000;
    font-size: .18rem;
    height: .2rem;
    line-height: .2rem;
    text-align: center
}

.global-footer {
    background-color: #f8f8f8;
    border-top: 1px solid #f8f8f8;
    color: #818181;
    font-size: .1rem;
    padding: .07rem 0;
    text-align: center
}

.im-box {
    width: 17px;
    display: none;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 99
}

.im-box a.im-btn {
    width: 100%;
    height: 27px;
    display: block;
    text-align: center;
    background-image: url(https://s2.51offer.com/common/2015-08-06/im-bg.png);
    -webkit-background-size: 35px 55px;
    background-size: 35px 55px
}

.im-box a.im-btn i {
    font-size: 10px;
    color: #fff;
    font-style: inherit;
    width: 100%;
    display: block;
    line-height: 7px;
    padding-top: 12px
}

.im-box a.back-top {
    width: 100%;
    height: 17px;
    display: none;
    margin-top: 3px;
    background-image: url(https://s2.51offer.com/common/2015-08-05/im-back-top.png);
    -webkit-background-size: 35px 35px;
    background-size: 35px 35px
}

.im-home {
    width: 35px;
    right: 10px;
    bottom: 10px
}

.im-home a.im-btn {
    height: 55px
}

.im-home a.im-btn i {
    font-size: .12rem;
    line-height: 14px;
    padding-top: 24px;
    padding-left: .02rem;
    padding-right: .02rem;
    text-align: center
}

.im-home a.back-top {
    height: 35px;
    margin-top: 6px
}

.im-ad {
    bottom: 6px
}
